* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5B6FEE;
}

header {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    display: flex;

}

header img {
    margin: 20px 0 0 0;
    height: 50px;
}

nav {
    margin: 10px 0px 10px 20px;
    border: 5px solid #566bf1;
    border-radius: 40px;
    box-shadow: rgba(255, 255, 255, 0.397) 0 5px 5px -6px;
    padding: 20px;

}

nav a {
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
}

header .login {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 35px 0 0 30px;
}

header .login a {
    text-decoration: none;
    color: white;
    padding: 15px;  
}

header .login a:last-child{
    background-color: #FF7234;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.651) 0 5px 20px -5px;

}

header .login a:last-child:hover {
    padding: 25px;
    transition: 400ms;
    color: brown;
}